<div class="flex w-full flex-auto flex-col">
    <div class="p-4">
        <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-3 ">
            <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-1" style="margin-top: 0px !important;">
                <!-- Recent transactions table -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-2">
                    <div class="mx-6">
                        <br />
                        <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                            Información personal
                        </h2>
                        <br />
                        <div class="space-y-6" [formGroup]="form">
                            <br />
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                                <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                                    <!-- Upload -->
                                    <div class="flex flex-col gap-2">
                                        <label class="font-medium">Adjuntar logo</label>
                                        <input type="file" accept="image/*" (change)="onLogoSelected($event)"
                                            class="block w-full text-sm" />
                                    </div>
                                    <!-- Preview (col-span 2) -->
                                    <div class="md:col-span-2">
                                        <div
                                            class="flex h-40 w-full items-center justify-center rounded-xl border-2 border-dashed border-gray-300 bg-gray-50 text-center">
                                            <!-- Si hay imagen -->
                                            <img *ngIf="logoPreview" [src]="logoPreview"
                                                class="max-h-full max-w-full object-contain rounded-lg" />
                                            <!-- Placeholder -->
                                            <div *ngIf="!logoPreview" class="text-gray-500">
                                                <p class="font-medium">Sube tu logo aquí</p>
                                                <p class="text-sm">PNG, JPG o JPEG</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:col-span-2">
                                    <!-- rfc -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>RFC</mat-label>
                                        <input matInput formControlName="rfc" />
                                    </mat-form-field>

                                    <!-- Razón social -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Razón social</mat-label>
                                        <input matInput formControlName="razonSocial" />
                                    </mat-form-field>

                                    <!-- Régimen fiscal -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Régimen fiscal</mat-label>
                                        <mat-select formControlName="regimenFiscal">
                                            <mat-option [value]="''">Seleccione...</mat-option>
                                            <mat-option *ngFor="let cat of regimenesFiscales" [value]="cat.id">
                                                {{ cat.descripcion }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- Razón social -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Celular para notificaciones</mat-label>
                                        <input matInput formControlName="celularNotificaciones" />
                                    </mat-form-field>

                                    <!-- Razón social -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Folio de inicio</mat-label>
                                        <input matInput formControlName="folioInicio" />
                                    </mat-form-field>

                                </div>
                            </div>

                            <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                                Dirección fiscal
                            </h2>
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:col-span-2">

                                <!-- rfc -->
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Codigo postal</mat-label>
                                    <input matInput formControlName="codigoPostal" />
                                </mat-form-field>

                                <!-- Municipio -->
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Municipio</mat-label>
                                    <input matInput formControlName="municipio" readonly="" />
                                </mat-form-field>

                                <!-- Estado -->
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Estado</mat-label>
                                    <input matInput formControlName="estado" readonly="" />
                                </mat-form-field>

                                <!-- Colonia -->
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Colonia</mat-label>
                                    <mat-select formControlName="colonia">
                                        <mat-option [value]="''">Seleccione...</mat-option>
                                        <mat-option *ngFor="let colonia of colonias" [value]="colonia">
                                            {{ colonia }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Calle -->
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>calle</mat-label>
                                    <input matInput formControlName="calle" />
                                </mat-form-field>

                                <div class="grid grid-cols-1 gap-4 md:grid-cols-2">

                                    <!-- Numero interior -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Número interior</mat-label>
                                        <input matInput formControlName="noInterior" />
                                    </mat-form-field>

                                    <!-- Numero exterior -->
                                    <mat-form-field appearance="fill" class="w-full">
                                        <mat-label>Número exterior</mat-label>
                                        <input matInput formControlName="noExterior" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Enviar -->
                            <div class="flex justify-end space-x-2 mt-4">
                                <button mat-raised-button class="fuse-mat-button" [color]="'accent'"
                                    [disabled]="form.invalid || isLoading" (click)="actualizarDatos()">

                                    <ng-container *ngIf="!isLoading; else loadingTpl">
                                        Guardar cambios
                                    </ng-container>

                                    <ng-template #loadingTpl>
                                        <mat-progress-spinner diameter="20" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </ng-template>
                                </button>
                            </div>
                        </div>
                        <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                            Sellos digitales
                        </h2>
                        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
                            <!-- Numero interior -->
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Contraseña</mat-label>
                                <input matInput type="password" [(ngModel)]="passwordKey" />
                            </mat-form-field>
                            <!-- Upload -->
                            <div class="flex flex-col gap-2">
                                <label class="font-medium">Archivo .CER</label>
                                <input type="file" accept=".cer" (change)="onCerSelected($event)"
                                    class="block w-full text-sm" />
                            </div>
                            <!-- Upload -->
                            <div class="flex flex-col gap-2">
                                <label class="font-medium">Archivo .KEY</label>
                                <input type="file" accept=".key" (change)="onKeySelected($event)"
                                    class="block w-full text-sm" />
                            </div>

                        </div>
                        <!-- Enviar -->
                        <div class="flex justify-end space-x-2 mt-4">
                            <!--
                                <button mat-raised-button class="fuse-mat-button" [color]="'accent'"
                                   [disabled]="!cerBase64 || !keyBase64 || !passwordKey || isLoading">
                                    @if (!form.disabled) {
                                    <span> Subir sellos digitales</span>
                                    }
                                    @if (form.disabled) {
                                    <mat-progress-spinner [diameter]="24"
                                        [mode]="'indeterminate'"></mat-progress-spinner>
                                    }
                                </button>-->
                            <button type="button" mat-raised-button class="fuse-mat-button" [color]="'accent'"
                                [disabled]="!cerBase64 || !keyBase64 || !passwordKey || isLoading"
                                (click)="enviarSellos()">

                                <ng-container *ngIf="!isLoading; else loadingTpl">
                                    Enviar sellos
                                </ng-container>

                                <ng-template #loadingTpl>
                                    <mat-progress-spinner diameter="20" mode="indeterminate">
                                    </mat-progress-spinner>
                                </ng-template>
                            </button>

                            <button mat-raised-button color="primary" (click)="descargarSellos()"
                                [disabled]="isLoading">

                                <ng-container *ngIf="!isLoading; else loadingTpl">
                                    Descargar sellos
                                </ng-container>

                                <ng-template #loadingTpl>
                                    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                                </ng-template>

                            </button>

                        </div>
                        <br /><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>